---
import { Icon } from 'astro-icon/components'

const features = [
  {
    name: 'Comprehensive Resources',
    description:
      'Access a wide range of materials including guides, articles, and FAQs to help you navigate the complexities of higher education abroad.',
    icon: 'book-open' // Updated icon
  },
  {
    name: 'Personalized Guidance',
    description:
      'Get tailored advice from experts in the field of international education, ensuring you find the best path for your academic and career goals.',
    icon: 'users' // Existing icon
  },
  {
    name: 'Scholarship Information',
    description:
      'Stay updated on the latest scholarship opportunities and financial aid options available for students seeking to study abroad.',
    icon: 'credit-card' // Updated icon
  },
  {
    name: 'Cultural Insights',
    description:
      'Learn about different cultures and lifestyles in various countries to help you prepare for your study abroad experience and transition smoothly.',
    icon: 'globe-alt' // Existing icon
  }
]
---

<div class='bg-gray-100 py-12 dark:bg-gray-800'>
  <div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
    <div class='lg:text-center'>
      <h2 class='text-base font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-300'>
        Features
      </h2>
      <p
        class='mt-2 text-3xl font-extrabold leading-8 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl'
      >
        Essential Resources for Studying Abroad
      </p>
      <p class='mt-4 max-w-2xl text-xl text-gray-600 dark:text-gray-300 lg:mx-auto'>
        Your one-stop platform for all information related to studying abroad, from application
        processes to cultural integration.
      </p>
    </div>

    <div class='mt-10'>
      <dl class='space-y-10 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10 md:space-y-0'>
        {
          features.map((feature) => (
            <div class='relative'>
              <dt>
                <div class='absolute flex h-12 w-12 items-center justify-center rounded-md bg-gray-500 text-white dark:bg-gray-400 dark:text-black'>
                  <Icon class='h-6 w-6' aria-hidden='true' name={'heroicons:' + feature.icon} />
                </div>
                <p class='ml-16 text-lg font-medium leading-6 text-gray-900 dark:text-gray-200'>
                  {feature.name}
                </p>
              </dt>
              <dd class='ml-16 mt-2 text-base text-gray-600 dark:text-gray-400'>
                {feature.description}
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</div>
