---
import { Icon } from 'astro-icon/components';
import Search from '../components/search.astro';
import Theme from '../components/theme.astro';
import ml from '/src/assets/svg/undraw/ml.png';
---

<div class='relative h-auto w-full'>
  <nav class='dark:bg-gray-900'>
    <div class='fixed z-50 mx-auto w-full border-b-2 border-gray-700 bg-gray-100 px-2 dark:border-gray-600 dark:bg-gray-900 sm:px-6 lg:px-8'>
      <div class='relative flex h-16 items-center justify-between'>
        <div class='flex items-center space-x-4'>
          <!-- Logo Section -->
          <div class='flex flex-shrink-0'>
            <a href="https://futurx.in/" aria-label="FuturX Logo">
              <img class='h-12 w-12 dark:bg-gray-200' src={ml.src} alt='Logo' />
            </a>
          </div>
          <!-- Added Blog link if necessary -->
          {/* <div class='ml-4'>
            <a
              href={import.meta.env.BASE_URL + '/blog'}  <!-- Adjust the href accordingly -->
              class='text-gray-600 hover:bg-gray-300 hover:text-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-100 rounded-md px-2 py-2 text-lg font-medium'
            >
              Blog
            </a>
          </div> */}
        </div>

        <!-- Right Side (Search and Theme) -->
        <div class='flex items-center space-x-4'>
          <Search />
          <Theme />
        </div>
      </div>
    </div>

    <!-- Mobile menu (removed) -->
    <div class='hidden' id='mobile-menu'>
      <!-- Empty mobile menu -->
    </div>
  </nav>
</div>
